
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper" ng-controller="MainCtrl">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor m-b-0 m-t-0">Products</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ol>
                </div>
                <div class="col-md-6 col-4 align-self-center">
                    <a class="btn pull-right hidden-sm-down btn-success" data-toggle="modal" data-target=".bs-example-modal-lg"> Add Product</a>
                </div>
                <div class="col-md-6 col-4 align-self-center">
                    <a class="btn pull-right hidden-sm-down btn-success" data-toggle="modal" data-target=".bs-example-modal-lg"> Add Product to Offers</a>
                </div>
                <!-- modal content for Add peoduct -->
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">
                                    Add Product
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-block">
                                <form class="form p-t-20">
                                    <div class="form-group">
                                        <label for="productname">Product Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="productname" placeholder="Product Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Inputname">Product Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="Inputname" placeholder="Product Name">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                                    <button type="submit" class="btn btn-inverse waves-effect waves-light" data-dismiss="modal">cancel</button>
                                </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect tex-left" data-dismiss="modal">close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- column -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-block">
<!--
                            <h4 class="card-title"><a href="#" class="btn pull-right hidden-sm-down btn-success">Add Product</a></h4>
-->

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Product Name</th>
                                        <th>Product Category</th>
                                        <th>Product Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Deshmukh</td>
                                        <td>Prohaska</td>
                                        <td>@Genelia</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Deshmukh</td>
                                        <td>Gaylord</td>
                                        <td>@Ritesh</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Sanghani</td>
                                        <td>Gusikowski</td>
                                        <td>@Govinda</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Roshan</td>
                                        <td>Rogahn</td>
                                        <td>@Hritik</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>



                                    <tr>
                                        <td>1</td>
                                        <td>Deshmukh</td>
                                        <td>Prohaska</td>
                                        <td>@Genelia</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Deshmukh</td>
                                        <td>Gaylord</td>
                                        <td>@Ritesh</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Sanghani</td>
                                        <td>Gusikowski</td>
                                        <td>@Govinda</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Roshan</td>
                                        <td>Rogahn</td>
                                        <td>@Hritik</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Joshi</td>
                                        <td>Hickle</td>
                                        <td>@Maruti</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Nigam</td>
                                        <td>Eichmann</td>
                                        <td>@Sonu</td>
                                        <td><button class="btn-themecolor">Edit</button>&nbsp;<button class="btn-warning">Delete</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                           <!-- <div >
                                <table>
                                    <tbody>
                                    <tr ng-repeat="detail in details">
                                        &lt;!&ndash; show&ndash;&gt;
                                        <td ng-hide="edited === $index">{{detail.product_id}}</td>
                                        <td ng-hide="edited === $index">{{detail.product_name}}</td>
                                        <td ng-hide="edited === $index">{{detail.product_cost}}</td>
                                        <td ng-hide="edited === $index">
                                            <button ng-click="edit($index)">Edit</button>
                                            <button ng-click="delete($index)">Detele</button>
                                        </td>
                                        &lt;!&ndash; Edit&ndash;&gt;
                                        <td ng-show="edited === $index">{{detail.product_id}}</td>
                                        <td ng-show="edited === $index"><input type="text" ng-model="editedModel.name"></td>
                                        <td ng-show="edited === $index"><input type="number" ng-model="editedModel.size"></td>
                                        <td ng-show="edited === $index">
                                            <button ng-click="finishEdit($index, editedModel)">Save</button>
                                            <button ng-click="delete($index)">Detele</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>
                                            <button ng-click="add()">Add</button>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            © 2017 Monster Admin by wrappixel.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
